@font-face {
  font-family: 'Minecraft';
  src: url('./images/Minecraft.ttf')
}

body{
  font-family: 'Minecraft';
  background-color : #000;
}
h4{
  margin : 0;
}

.instructions{
  height : 100vh;
  background-color : #000;
  color: #fff;
  text-align :center;
  padding : 50px 30px;
}

.logo{
  width: 50%;
}
.game{
  background-color: #000;
  height : 100vh;
  padding-top:50px;
}
.score{
  width: 80%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  color:#fff;
  padding: 20px;
}
.players{
  margin:0 auto;
  padding: 20px 0;
}
.red-instruct{
  color:red;
}
hr{
  border: 1px dashed #fff;
  width:80%;
}

.level{
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
.startBtn{
  color:#000;
  background-color: #ffe000;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
}